#results {
	width:80%;
	min-width:300px;
	max-width:1500px;
	margin:50px auto;
	padding:50px;
	border:1px solid gray;
	background-color: white;
	font-family: monospace;
	font-size:18px;
}
	.interim {
		color: #222;
	}
#buttons {
	text-align:center;
	margin:20px;
}
button {
	margin:5px;
	padding:15px 20px;
	text-transform: uppercase;
	font-weight: bold;
	background-color:transparent;
	color:#222;
	border:1px solid #222;
}
button:hover {
	background-color:#222;
	color:white;
}
button:active {
	box-shadow:0 0 5px #555;
}